:root {
    --accent: #707070;
    --accent-hover: #5C5C5C;
    --danger: #9a1a1e;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.card.columns {
    margin: 0;
}

.card .column {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.card-footer {
    margin-top: auto;
}
.card-footer .card-content {
    width: 100%;
}

.card .modal-content {
    width: 90vh;
    max-width: 90vw;
}

.card .image {
    background-color: whitesmoke;
    height: 100%;
}

.image.is-qr-code {
    height: 80px;
    width: 80px;
}

.navbar-menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-descriptor {
    font-weight: normal;
}

.navbar-brand {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

a.navbar-item:hover, a.navbar-item:focus {
    background-color: transparent;
    color: var(--accent);
}

.button {
    border-radius: 0;
}

.button.is-primary {
    background-color: var(--accent);
}

.button.is-primary[disabled] {
    background-color: var(--accent);
}

.button.is-primary:hover, .button.is-primary:active  {
    background-color: var(--accent-hover);
}

.button.is-primary:focus  {
    box-shadow: none !important;
}

.field-label {
    max-width: 30px;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 3rem 1.5rem;
    text-transform: uppercase;
}

.footer a {
    color: #9a1a1e;
}

.form {
    padding-bottom: 3rem;
}

.notification.is-danger {
    /*background-color: var(--danger);*/
}

.section.is-fullheight {
    min-height: 100vh;
}

.tag {
    font-size: 0.8rem;
}

.tags.has-addons .tag:not(:first-child) {
    font-weight: bold;
}